@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");
body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
}
body .main {
  display: flex;
  max-width: 1280px;
}
body .main .topics {
  padding: 5em 0.5em;
  width: 20%;
}
body .main .topics > div {
  position: sticky;
  top: 0;
}
body .main .topics > div .nav1 {
  padding: 0.5em;
}
body .main .topics > div .nav1 a {
  color: black;
}
body .main .topics > div .nav1.active {
  background-color: #ddd;
}
body .main .content {
  width: 80%;
}
body .main .content .test-case {
  display: flex;
  margin-top: 1em;
}
body .main .content .test-case > div {
  flex: 1 1 0;
  position: relative;
}
body .main .content .test-case > div.template {
  color: #ccf;
}
body .main .content .test-case > div.model {
  color: #ffc;
}
body .main .content .test-case > div.expected {
  color: #cfc;
}
body .main .content .test-case > div.errors {
  color: #fcc;
}
body .main .content .test-case > div > input {
  display: none;
}
body .main .content .test-case > div > input:checked + .label::after {
  transform: rotate(90deg);
}
body .main .content .test-case > div > input:checked ~ .code {
  max-height: 100vh;
}
body .main .content .test-case > div > .label {
  position: absolute;
  height: 1.2em;
  right: 0.25em;
  left: 0.25em;
  display: flex;
  justify-content: space-between;
  padding: 0.25em 0.5em;
  background: #333;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #000;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}
body .main .content .test-case > div > .label:hover {
  background: #555;
}
body .main .content .test-case > div > .label::after {
  content: "❯";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}
body .main .content .test-case > div > .code {
  font-family: "Roboto Mono", monospace;
  margin: 1.5em 0.25em 0.5em;
  padding: 0.5em 0.5em;
  border: 1px solid #000;
  background-color: #333;
  color: #fff;
  white-space: pre-wrap;
  overflow: auto;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  max-height: 1em;
}

/*# sourceMappingURL=style.css.map */
